<div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound" *ngIf="favs.length !== 0">
    <h2>Your favorites...</h2>
</div>

<div class="grid">
    <div class="container" *ngFor="let character of favs">
        <div class="card">
            
            <div class="face face1">
                <div class="content">
                  <span class="stars">{{character.modified | date}}</span>
                  <h2  [routerLink]="['/character-details', character.id]" >{{character.name}}</h2>
                </div>
                <div class="multi-button">
                    <button class="fas fa-heart" (click)="toggleFavorite(character)">
                      <img as="image" width="21" height="21" src="../../../assets/icons/{{getIcon(character)}}" alt="add" />
                    </button>
                  </div>
              </div>

              <div class="face face2">
                <img
                src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" alt="" />
              </div>
        </div>
    </div>
  
    <!-- Not found -->
    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound" *ngIf="favs.length === 0">
      <h2>nothing to show...</h2>
    </div>
    
  </div>