<div class="background-cover"></div>
<h1 >Comics</h1>

<div class="grid">
    <div *ngFor="let com of comic">
        <div class="card">
            <img src="{{ com.thumbnail.path }}.{{ com.thumbnail.extension }}" alt="">
            <div class="descriptions">
                <h2>{{com.series.name}}</h2>
                <p *ngIf="com.textObjects.length >= 0">
                    {{com.textObjects[0] | json | slice :66}}
                    {{com.variantDescription}}
                </p>
            </div>
        </div>
    </div>
</div>