<div class="background-cover"></div>
<div class="container-header">
  <div class="item1">
    <h1>Comics</h1>
  </div>
  <div class="item2">
    <div class="form-group" [formGroup]="datos">
      <!-- Input Dates -->
      <div *ngIf="optionsRadios2.checked">
        <app-datepiker></app-datepiker>
      </div>
      <!-- Input Characters -->
      <div *ngIf="optionsRadios1.checked">
        <label class="form-label">Seeker</label>
      <input type="email"
             class="form-control" 
             placeholder="Search comics"
             *ngIf="!datos.get('radio1').invalid"
             formControlName="inputSearch">
      <button class="btn btn-secondary my-2" 
              type="submit"
              (click)="search()">Search</button>
      <small class="form-text">Select the filter for a correct result.</small>
      </div>
          <!-- CheckBox -->
    
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio"
                 class="form-check-input" 
                 name="optionsRadios" 
                 #optionsRadios1
                 value="option1" 
                 checked=""
                 formControlName="radio1"
                 required>
          Search by character.
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" 
                 class="form-check-input" 
                 name="optionsRadios" 
                 #optionsRadios2 
                 value="option2"
                 required
                 formControlName="radio2">
          Search between dates.
        </label>
      </div>

    </div>
    <!-- end Form -->
  </div>
</div>
<div class="grid">
  <div *ngFor="let com of comic">
    <div class="card">
      <img src="{{ com.thumbnail.path }}.{{ com.thumbnail.extension }}" alt="">
      <div class="descriptions">
        <h2>{{com.series.name}}</h2>
        <p *ngIf="com.textObjects.length >= 0">
          {{com.textObjects[0] | json | slice :66}}
          {{com.variantDescription}}
        </p>
      </div>
    </div>
  </div>
</div>