.grid{
    max-width: 1200px;
    margin: auto;
    padding: 40px 40px 40px 40px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.card {
    box-shadow: 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;
    border: none;
    overflow: hidden;
    margin: 15px 15px 15px 15px;
    transition: all 0.2 ease-in-out;
    &:hover {
        box-shadow: 0 1px 20px #0e49eb;
        cursor: pointer;
    }
}

h1{
    font-size: 7vw;
    padding: 100px 0px 0px 55px;
    font-family: 'Marvel', sans-serif;
    position: sticky;
}

.background-cover{
    background-image: url("../../../../assets/portada2.jpg");
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    opacity: 0.6;
    margin: 260px 0px 0px 0px;
    box-shadow: 15px 13px 17px 101px rgb(222 209 242 / 26%);
    button {
        margin-top: 100px;
    }
}