.portada{
    background-image: url("../../../assets/portada1.jpg");
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 405px;
    width: 100% ;
    text-align: center;
    opacity: 0.6;
 }


@media (max-width: 832px) {
     .portada{
        height: 404px;
     }
}

@media (max-width: 1200px) {
    .portada{
       height: 424px;
    }
}