* {
    font-family: "Poppins", sans-serif;
  }
.grid{
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px 40px 0px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-flow: dense;
}
.card {
    overflow: hidden;
    grid-column: span 4;
    background: rgba(30, 30, 30, 0.8);
    box-shadow: 0px 0px 10px #f90000, 0px 0px 10px #e84444;
    border: none;
    margin: 100px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    transition: all 0.2 ease-in-out;
    &:hover {
        box-shadow: 0 1px 20px #0408f0;
        cursor: pointer;
    }
}